.container {
    padding-left: 15px;
    padding-right: 550px;
    padding-bottom: 25px;
}

.availablehandyman {
    padding-left: 15px;
}

.findhandyman {
    padding-top: 25px;
    size: px;
}

.registrationbuttons {
    position: fixed;
    margin: auto;
    left: 34%
}